.forgot-modal {
    height: 0px;
  }




.nav-and-banner {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.header-home {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 80px;

}

.logo-and-log {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-beta {
  font-weight: bold;
  font-size: 14px;
  color: #c1c1c1;
}


#logo {
  height: 30px;
}




.right-links{
  display: flex;
  font-size: 15px;
  a , .connect-button {
    color: $blue;
    margin: 0 20px;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }

  .connexion-xs{
    text-decoration: underline;
  }
}




.banner-container {
    width: 90%;
    margin: 0 auto;
    min-height: calc(90vh - 80px);
    display: flex;
    justify-content: center;
  }

  .banner-content{
    margin-top: 75px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;


    h1 {
      line-height: 1.3em;
      text-align: left;
      margin-bottom: 25px;
      font-size: 50px;
      color: $blue;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

  }


  .concept {
    margin: 10px 0 20px 0;
    font-size: 22px;
    text-align: justify;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }


  .cta-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .go-to{
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .cta-link{
    text-transform: uppercase;
    font-size: 20px;
  }




  .action-image{
    max-height: 150px;
  }

  .quote{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: $blue;
  }

  .quote-orange {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: $orange;
  }

  .quote-text{
    margin-top: 20px;
  }


  #features-container {
    &:focus {
      outline: none;
    }
  }


  .how-it-works{
    text-align: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
  }


  .steps{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }



  .icon-and-text-no-shaddow{
    text-align: center;
    flex: 0 0 30%;
    padding: 20px;
  }

  li {
    list-style-type: none;
  }

  #conclusion {
    background-color: #f1f3f7;
  }

  .testimonies-container{
    background-color: #FFF;
  }

  .testimony-box {
    width: 80%;
    padding: 80px 0;
    margin: 0 auto;

    h2 {
      width: 80%;
      text-align: center;
      line-height: 0.1em;
      margin: 0 auto;
    }

    .cta {
      display: flex;
      justify-content: center;
      .btn-orange {
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px 30px;
      }
    }



    .testimonies{
      margin: 80px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .testimony{
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .user-photo{
      height: 160px;
      width: 160px;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 0 2px 26px 0 rgba(0,0,0,0.2)
    }

    .testimony-title{
      font-weight: bold;
      font-size: 16px;
      margin-top: 15px;
    }

    .testimony-text{
      text-align: center;
      font-style: italic;
    }
  }


  #forgot-p {
    margin: 15px 0 30px;
    font-size: 16px;
  }



  @media all and (max-width: 1280px) {


  .banner-content {
    width: 70%;
  }


    .conclusion-cases {
      flex-wrap: wrap;
      width: 100%;
    }

    .icon-and-text {
      flex: 0 0 30%;
      padding: 20px 0 0 0;
    }

    .how-it-works {
      width: 100%;
    }


    .testimony-box {
      width: 95%;
      .testimony-title {
        text-align: center;
      }
    }
  }

  @media all and (max-width: 980px) {
    .banner-container {
      padding-bottom: 50px;
    }

    .banner-content {
      width: 95%;
    }


    .icon-and-text {
      flex: 0 0 70%;
      margin: 0 auto 30px auto;
    }

    .steps {
      display: block;
    }

    .icon-and-text-no-shaddow {
        padding: 40px 100px 40px;
    }


    .testimony-box {

      .testimonies {
        display: block;
      }

      .testimony {
        width: 50%;
        margin: 0 auto 40px auto;
      }

      .cta {
        margin-top: 40px;
      }

      h2 {
        width: 100%;
        border-bottom: none;
      }

      }



    .how-it-works {
      width: 90%;
      h3 {
        width: 100%;
        }
    }


  }



  @media screen and (max-width: 480px) {

    .banner-container {
        h1{
          font-size: 35px;
          margin-bottom: 20px;
        }
      }

      #logo {
        height: 35px;
      }

      .nav-and-banner {
        background-position: right bottom;
      }
      .banner-content{
        margin-top: 25px;
        width: auto;
        p {
          font-size: 15px;
        }
      }

      .concept {
        margin: 10px auto 0px auto;
        width: 100%;

        p {
          font-size: 15px;
          background: rgba(0, 0, 0, 0.2);
          padding: 10px 5px;
          text-align: justify;
        }
      }

      .right-links{
        font-size: 13px;
        a{
          margin: 0 0 0 5px;
        }
      }

      .cta-links {
        margin-top: 30px;
      }


      .cta-link{
        font-size: 15px;
        padding: 7px 20px !important;
      }

      .go-to{
        padding: 7px 20px !important;
        font-size: 15px;
        margin-right: 20px;
      }


      .icon-and-text{
        margin-bottom: 20px;
        padding: 10px;
      }

      .icon-and-text-no-shaddow {
        padding: 20px 10px 40px;
      }



      .quote{
        font-size: 24px;
      }

      .how-it-works {
        h3 {
          font-size: 18px;
          }
      }

      .testimony-box {
        padding: 40px 0;
        h2 {
          width: 100%;
          border-bottom: none;
          font-size: 23px;
        }

        h2 span {
          padding: 0;
        }

        .testimonies {
          margin: 50px 0 15px 0;
        }

        .testimony {
          width: 90%;
          padding: 0;

        }
      }


      .statement-and-text {
        padding: 20px 5px;
      }

      .action-image{
        max-height: 110px;
      }

      .icon-and-text-no-shaddow {
          padding: 20px 20px 40px;
      }

      .outcome-box {
        display: block;
      }




  }




















