#banner-content-partners {
  width: 65%;
}


@media all and (max-width: 1280px) {

    #banner-content-partners {
      width: 70%;
    }

}

@media all and (max-width: 980px) {
  #banner-content-partners {
    width: 95%;
  }
}




