.dashboard-container {
  display: flex;

}

.navigation-menu-container {
  min-height: calc(100vh - 70px);
  background-color: #FFF;
  border-right: 1px solid rgba(0,0,0,.0625);
  flex: 0 0 20%;
  padding: 20px 0;

  .link {
    font-size: 15px;
    color: #72777a;
    padding: 15px 35px;
    &:hover {
      background-color: #F1F3F4;
      cursor: pointer;
    }
  }

  .fas {
    margin-right: 15px;
    font-size: 19px;
  }

  .fa-tachometer-alt {
    color: #2196f3;
  }

  .fa-power-off {
    color: $red;
  }

  .fa-cog {
    color: #795548;
  }

  .fa-flask {
    color: $blue;
  }

  .fa-envelope {
    color: #673ab7;
  }

  .fa-question-circle {
    color: #ff9800;
  }
}

.general-infos {
  padding: 20px;
  flex: 0 0 80%;
  h5 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #313435;
  }
}

.pro-forms {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.compagny-recap {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
}

.brand-name, .created-at {
  flex: 0 0 24%;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,.0625);
  padding: 20px;
}

.social-links {
  flex: 0 0 49%;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,.0625);
  padding: 20px;
}

.column {
  flex: 0 0 49%;
}

.general-form {
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,.0625);
  padding: 20px;
  margin-bottom: 15px;

  #new_user {
    width: 100%;
  }

  #save-cta, #password-cta {
    margin: 0 0 0 auto;
  }

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
  .navigation-menu-container {
    display: none;
  }

  .general-infos {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 480px) {

}
