.address-infos {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .complement {
    font-weight: bold;
  }
  .info {
    color: #999999;
    font-style: italic;
  }
}

.reservation-encart {
  margin-top: 20px;
}

 @media screen and (max-width: 480px) {
 #ending-date {
     margin-top: 15px;
     margin-left: 15px;
   }

   .reservation-encart {
     margin-top: 0px;
   }
 }
