<div class="navbar-container">
  <div id="top-link"></div>
  <div class="navbar">
    <%= link_to root_path do %>
      <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
      </div>
    <% end %>
    <div class="user-menu">
      <% if @user.present? %>
        <div class="pending-animation">
          <%= render "shared/pending-picks" %>
          <span class="tooltiptext">Campagnes</span>
        </div>
      <% end %>
      <div class="right-links-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>

  </div>
</div>
