<div class="text-part">
  <h5>Etape 1</h5>
  <p>3 étapes pour lancer une campagne</p>
</div>
<div class="right-part">
  <div class="step info-bloc">
    <h6><i class="fas fa-times-circle"></i> Etape 1</h6>
    <div class="step-title">Autoriser les encaissements</div>
    <p>Autorisez les encaissements sur votre compte bancaire des commandes que vous aurez validées à la fin de votre campagne. Cliquez sur le boutton "Autoriser les encaissements", et suivez les instructions de STRIPE, notre partenaire de gestion de paiement sécurisé.</p>
    <div class="btn-container">
      <a class= "btn-blue" href="<%= stripe_url %>">Autoriser les encaissements</a>
    </div>
  </div>
  <div class="not-yet-overlay">
    <div class="step info-bloc">
      <h6><i class="fas fa-times-circle"></i>Etape 2</h6>
      <div class="step-title">Ajouter un produit</div>
      <p>Une fois vos informations de paiement enregistrées, ajoutez le produit pour lequel vous souhaitez lancer une campagne.</p>
      <div class="btn-container">
        <a class= "btn-white" href="#">Ajouter un produit</a>
      </div>
    </div>
  </div>
  <div class="not-yet-overlay">
    <div class="step info-bloc">
      <h6><i class="fas fa-times-circle"></i>Etape 3</h6>
      <div class="step-title">Lancer une campagne</div>
      <p>Une fois le produit ajouté, vous pouvez lancer une campagne pour celui-ci</p>
      <div class="btn-container">
        <a class= "btn-white" href="#">Lancer une campagne</a>
      </div>
    </div>
  </div>
</div>
