<%= link_to my_campaigns_user_path(@user.id) do %>
  <div class="complete-link">
      <i class="fas fa-flask pending-icon"></i>
      <% if Pick.pending_picks(@user.id).any?  %>
        <div class="picks-pending-circle">
          <%= Pick.pending_picks(@user.id).count %>
        </div>
      <% end %>
    </i>
  </div>
<% end %>
