<h1>Bonjour <%= @resource.contact_person %></h1>

<p>Comme demandé, vous trouverez-ci dessous un lien pour ré-initialiser le mot de passe de votre compte pro sur <b>Pickalgo</b></p>

<p><%= link_to 'Changer mon mot de passe', edit_pro_password_url(@resource, reset_password_token: @token) %></p>

<p>A très vite sur Pickalgo</p>
