<%= render 'shared/navbar' %>
<div class="page-container">
  <div class="content-container">
    <div class="infos-container">
      <%= render 'pages/navigation', page: @page %>
      <div class="content-box">
        <div class="title">
          <h1>Foire aux questions</h1>
          <p class="intro">Vous avez certainement beaucoup de questions sur Pickalgo et c'est normal. En soit le système ne ressemble à rien de ce que vous connaissez déjà. C'est pourquoi nous avons imaginé les questions que vous pourriez avoir, et avons tenté d'y apporter une réponse ci-dessous. Si vous avez d'autres questions, ou si aimez le projet et souhaitez nous adresser des remarques, n'hésitez pas à <%= link_to "nous contacter", contact_path, class: "help-link" %>.</p>
        </div>
        <ul class="summary-faq">
          <li><a href="#question-0">Vocab & Ethimologie</a></li>
          <li><a href="#question-1">Quel problème Pickalgo souhaite résoudre ?</a></li>
          <li><a href="#question-2">La proposition de valeur</a></li>
          <li><a href="#question-3">Comment ça marche ?</a></li>
          <li><a href="#question-4">Qui peut présenter un produit ?</a></li>
          <li><a href="#question-4B">Quels produits puis-je présenter ?</a></li>
          <li><a href="#question-5">Un produit peut-il être refusé ?</a></li>
          <li><a href="#question-6">Comment se déroule une campagne ?</a></li>
          <li><a href="#question-7">Pourquoi confirmer ma participation ?</a></li>
          <li><a href="#question-8">Quand est-ce que je paye ?</a></li>
          <li><a href="#question-9">Puis-je modifier / supprimer mon pick ?</a></li>
        </ul>
        <div class="questions-and-answers">
          <div id="question-0" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-book"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Vocab & Ethimologie
                  <br><span>Source: Le gros Robert, édition 2018</span>
                </h3>
                <div class="card-faq-answer">
                  <p>Pickalgo c'est l'association étrange de deux mots:
                  <br><p><u><b>Pick</b></u>: choisir ainsi que cueillir en anglais<br><p><u><b>Algo</b></u>: pour algorithme mais également "quelque chose" en portugais.</p>
                  <p><u><b>Campagne</b></u> : période pendant laquelle vous nous indiquez le prix maximal vous êtes prêt à payer pour un produit qui vous intéresse (dure 7 sept jours à compter de la publication du produit).</p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-1" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-lock"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Le problème
                  <br><span>n°1 sur la liste des 99 problèmes de Jay-Z</span>
                </h3>
                <div class="card-faq-answer">
                  <p>Il peut arriver que l'on souhaite faire bénéficier ses clients d'une promo. L'objectif intermédiaire est toujours le même: augmenter le volume de ses ventes. Les objectifs finaux peuvent en revanche être divers (acquérir de nouveaux clients, déstocker, augmenter ses volumes de production, augmenter sa marge opérationnelle...). Le problème est qu'<b>il est difficile de trouver le meilleur prix promotionnel à fixer</b> qui permettra d'atteindre l'objectif final fixé de façon efficiente.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-2" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-key"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  La proposition de valeur
                  <br><span>L'atout Pick(algo) à tous vos coeurs</span>
                </h3>
                <div class="card-faq-answer">
                    <ul><b>Pour vous testeurs :</b>
                      <li>Découvrir de supers produits et services</li>
                      <li>Vous faire bénéficier des meilleures remises spécialement négociées pour vous</li>
                    </ul>
                    <ul><b>Pour vous vendeurs :</b>
                      <li>Vous aider à optimiser le prix de vos promos</li>
                      <li>Augmenter vos volumes de ventes pour diminuer vos coûts de production et de distribution</li>
                      <li>Gagner en notoriété</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="question-3" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-cog"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Comment ça marche ?
                  <br><span>C'est pas si sorcier, n'est-ce pas Jamy ?</span>
                </h3>
                <div class="card-faq-answer">
                    <p>Un produit ou service vous plait ? Aidez son vendeur à comprendre quel prix pratiquer pour réussir son opération de promo. Pour cela, c'est simple, choisissez parmi les propositions de promos le prix maximal que vous êtes prêt à payer pour faire l'acquisition du produit.</p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-4" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-user"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Qui peut présenter un produit ?
                  <br><span>Toi plus moi, plus eux plus tous ceux qui le veulent</span>
                </h3>
                <div class="card-faq-answer">
                    <p>Tous les membres de Pickalgo peuvent soumettre un produit pour lequel ils souhaiteraient bénéficier d'une promo. Si vous souhaitez présenter votre propre produit, vous le pouvez également. Pensez simplement à signaler qu'il s'agit de votre produit dans le formulaire d'ajout de celui-ci afin que nous prenions contact avec vous plus facilement.</p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-4B" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-plus"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Quels produits puis-je présenter ?
                  <br><span>Panier polo piano</span>
                </h3>
                <div class="card-faq-answer">
                    <p>Tout produit ou service marchand pouvant être acheté par plusieurs personnes</p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-5" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-minus"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Un produit peut-il être refusé ?
                  <br><span>Je crois que ça va pas être possible, pas être, possible</span>
                </h3>
                <div class="card-faq-answer">
                    <p>La réponse est oui. Si nous n'arrivons pas à obtenir l'accord de son fabricant ou vendeur pour lancer la campagne, le produit n'est pas publié. C'est également le cas si nous jugeons que le produit a peu de chance de plaire à la communauté ou s'il présente un contenu offensant, dégradant, incitant à la haine...</p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-6" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-map"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Comment se déroule une campagne ?
                  <br><span>J'adore quand une campagne se déroule sans accroc</span>
                </h3>
                <div class="card-faq-answer">
                    <p>Lorsqu'une campagne est lancée, les membres intéressés par le produit ont 7 jours pour faire leur proposition d'achat. Chacun est libre de proposer le prix maximal qu'il est personnellement prêt à débourser pour faire l'acquisition du produit. Si vous avez confirmé votre participation à la campagne (<a href="#question-7"><b>voir ci-dessous</b></a>) et que le montant que vous avez proposé est supérieur au prix optimal que nous avons calculé, vous remportez le produit à son prix optimal. Autrement (absence de confirmation / prix proposé inférieur au prix optimal), vous ne pouvez pas bénéficier du prix proposé aux autres membres.</p>
                </div>
              </div>
            </div>
          </div>
          <div id="question-8" class="card-faqs">
            <div class="card-faq-container">
              <div class="box-with-circle-icon"><i class="fas fa-credit-card"></i><br></div>
              <div class="card-faq">
                <h3 class="card-faq-question">
                  Quand est-ce que je paye ?
                  <br><span>Just do it...later.</span>
                </h3>
                <div class="card-faq-answer">
                    <p>Vous n'avez rien à payer pour bloquer votre participation à la campagne. A la fin de celle-ci, si le montant que vous avez proposé est supérieur au prix optimal que nous avons calculé, vous serez débité du prix optimal (et des frais de livraison si applicables), sur la carte que vous avez renseignée au moment de confirmer votre participation.</p>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>



