.explain-block {
  margin-bottom: 30px;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.test-type-inputs {
  margin-bottom: 30px;
  input {
    margin-right: 10px;
    margin-top: 0;
  }

  label {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.price-part {
  display: none;
}

.price-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  input {
    flex: 0 0 30%;
  }
}

table {
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-collapse: separate !important;
}
tbody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

th {
  text-align: center;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0;
  padding: 15px 0;
}

td {
  text-align: center;
  background: transparent;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.0625);
}

.first-left {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


tr.tr-body:nth-child(even) {
  background-color: #f8f6ff;
}

tr.tr-body:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  td:first-child {
    border-bottom-left-radius: 10px;
  }
  td:last-child {
    border-bottom-right-radius: 10px;
  }
}


.campaigns-container, .campaign-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;

  h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    color: #4d4d5e;
    display: inline-block
  }
}

.filter-campaigns-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.categories {
  flex: 0 0 16%;
  margin-right: 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.campaigns-presentation {
  flex: 0 0 50%;
  min-height: 100vh;
}

.right-encart {
  flex: 0 0 24%;
  margin-left: 5%;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
  }
}


.fa-toggle-on {
  color: $blue;
  font-size: 20px;
  padding-right: 3px;
}

.sub-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  transition: all 0.1s;
  padding: 3px 10px 3px 10px;
  margin-bottom: 2px;
  border-radius: 25px;
  color: #4d4d5e;


    &:hover {
      background-color: #F1F3F4;
      padding: 3px 10px 3px 10px;
      margin-bottom: 2px;
    }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
    color: inherit;
  }
}

.categories-icon {
      height: 25px;
      margin-right: 15px;
      border-radius: 3px;

}

.product-category{
  display: flex;
  text-transform: uppercase;
  p {
    margin: 0;
  }

  .sport {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $red;
  }

  .enfants {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $orange;
  }

  .animaux {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $green;
  }

  .mode {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $anis;
  }

  .beaute {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $blueworld;
  }

  .loisirs {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: purple;
  }

  .maison {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: #4c4c03;
  }

  .tech {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $darkgray;
  }

}

.product-description {
  color: #999999 !important;
}


