.stats {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.new-price {
  color: #ff9800;
}

.stat-block {
  border: 1px solid rgba(0,0,0,.0625);
  padding: 20px;
  background-color: #FFF;
  margin-right: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 32%;
  h3 {
    font-size: 20px;
    margin: 0;
  }

  .top-block {
    margin-bottom: 30px;
    span {
      font-size: 14px;
      color: #72777a;
    }
  }

  .bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .fa-poll {
    color: #673ab7;
    font-size: 25px;
  }

  .fa-shopping-cart {
    color: #ff9800;
    font-size: 25px;
  }

  .fa-eye {
    font-size: 25px;
    color: #2196f3;
  }

  .fa-users {
    font-size: 25px;
    color: #795548;
  }

  .fa-credit-card {
    font-size: 25px;
    color: #4caf50;
  }

}

.red-icon {
  color: $red;
  animation: pulse-shadow 2s infinite;
  border-radius: 50%;
}

.green-icon {
  color: #4caf50;
}

.gray-icon {
  color: darkgray;
}


.data-block {
  h3 {
    font-size: 20px;
    margin: 0;
  }
}

table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 20px;
}

tbody {
  width: 100%;
  display: table;
}

th {
  background-color: #6c7ae0;
  color: #FFF;
}

.download-link {
  color: #ff9800;
  font-size: 18px;
}



.orders {
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f8fc;
  text-align: center;
  font-size: 16px;
}

.finalize-campaign-cta {
  cursor: pointer;
  color: #FFF;
  text-shadow: 0 1px 0 #ce870c;
  background-color: #f9b43b;
  -webkit-box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #4b58ba;
  box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #ce870c;
  transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
  display: table-cell;
  padding: 5px 10px;
  border-radius: 30px;

  &:hover {
    -webkit-box-shadow: 0 5px 8px -1px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #ce870c;
    box-shadow: 0 5px 8px -1px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #ce870c;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: white;
  }


  span {
    font-size: 17px;
    margin: 0 5px;
    font-weight: bold;
  }
}

@media(max-width: 768px) {


  .table-container {
    width: 460px;
  }

}

@media(max-width: 480px) {

  .campaigns-container, .campaign-container {
    padding: 30px 10px;
  }
  .stat-block {
    flex: 0 0 49%;
    h3 {
      font-size: 18px;
    }
  }

  .table-container {
    width: 298px;
  }

  .data-block {
    margin-top: 20px;
  }

}
