.campaign-container, .campaign-link {
  #clockdiv {
      display: flex;
      margin-top: 15px;
  }

  .dynamic-timer {
    margin: 0 10px 0 0;
    height: 40px;
    width: 40px;
    font-size: 13px;
  }
}

.left-and-right {
  display: flex;
  flex-wrap: wrap;
}

.carousel-inner {
    height: 300px !important;
  }

  .carousel-indicators {

    bottom: -65px;

    li {
      background-color: gray;
      border: none;
      height: 16px;
      width: 16px;
      margin: 0 2px;
    }

    .active {
      background-color: $blue;
      color: $blue;
      height: 16px;
      width: 16px;
      margin: 0 2px;

    }


  }

  .seed-media {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background-color: #FFFFFF;
  }

  .right-campaign {
    flex: 0 0 45%;
    padding: 0 0 0 40px;
  }

  .brand-and-price {
    display: flex;
    p {
      margin: 0;
      font-size: 15px;
    }

    .old-price {
      margin: 0 0 0 15px;
      font-weight: bold;
      text-decoration: line-through;
      color: #6a6a6a;
    }
  }

  .type-and-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    h3 {
      margin: 0 15px 0 0;
      i {
        margin-left: 5px;
      }
    }

    .price-ab {
      margin: 0;
    }
  }

  .test-title-box {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: darkgray;
    cursor: pointer;
  }

  .explaination {
    text-align: justify;
    display: none;
    margin-top: 20px;
    font-size: 15px;
  }

  .pick-pending {
    text-align: justify;
    margin-top: 20px;
    font-size: 15px;
  }

  .price-type {
    color: $orange;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .official-infos {
    margin-top: 70px;
  }

  .tab-title {
    font-size: 20px;
  }

  .social-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .social-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
    i {
      color: $blue;
      margin-right: 10px;
    }
  }

  .participation-input {
    margin: 40px 0 0 0;
    span {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    input {
      margin-right: 10px;
      margin-top: -5px;
      vertical-align: middle;
    }

    label {
      margin: 0;
    }
  }

  #ab-cta {
    margin: 40px auto 0;
  }

  .yes-outcome {
    text-align: justify;
    display: none;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .no-outcome {
   text-align: justify;
   display: none;
   margin-top: 20px;
   font-size: 15px;
   margin-bottom: 20px;
  }

  .video-container {
    width: 50%;
  }

  @media all and (max-width: 1280px) {

  .explaination {
    padding-right: 20px;
  }

  #tab-1, #tab-2 {
    padding: 0 10px;
  }

  }

  @media screen and (max-width: 768px) {
    .participation-input {
      display: flex;
      flex-direction: column;
      margin: 40px 0 0 0;
      .icon:before {
          position: absolute;
          top: 5px;
          left: 10px;
      }
    }

   }




  @media(max-width: 480px) {

    .seed-media {
      flex: 0 0 100%;
      margin-bottom: 60px;
    }

    .right-campaign {
      flex: 0 0 100%;
      padding: 0 10px;
    }

    .carousel-indicators {
      bottom: -70px;
    }
    .explaination {
      padding: 0;
    }


    .video-container {
      width: 100%;
    }


  }


