<h1>Commande confirmée pour <%= @campaign.product.title %></h1>

<p><%= @user.first_name %>,</p>

<p>Votre paiement pour <%= @campaign.product.title %> a été enregistré </p>

<p>Voir le détail de votre commande</p>

<p>A très vite sur Pickalgo !</p>
