<div class="navbar-container">
  <div id="top-link"></div>
  <div class="navbar-pro">
    <%= link_to root_path do %>
      <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2019
      </div>
    <% end %>
    <div class="right-links-menu">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</div>
