
<%= render 'pros/navbar' %>
<%= render 'right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'dashboard-navigation' %>
  <div class="general-infos">
    <%= render 'general-infos' %>
  </div>
</div>
