<script src="https://js.stripe.com/v3/"></script>
<%= render 'shared/navbar' %>
<div class="page-container">
  <div class="campaigns-container" id="feed">
    <div class="two-parts">
      <div class="left-recap">
        <h5 id="recap">Récap</h5>
        <%= render 'recap', product: @product %>
      </div>

  </div>
</div>
<%= render "shared/stripe-form" %>
