/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  top: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background: #A1CECF;
  position: absolute;
  font-size: 17px;
  z-index: 3;
  border-radius: 0px;
  padding: 25px;

}
.alert-info {
  background: rgba(49, 170, 187, 0.9);
}
.alert-warning {
  background: $red;
}
