<div class="pick-modal">
<!-- Modal -->
  <div class="modal fade" id="finalize-while-ongoing-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Finaliser la campagne</h4>
        </div>
        <div class="modal-body">
          La campagne n'est pas terminée, vous ne pouvez pas encore finaliser les commandes déjà validées.
        </div>
        <div class="modal-footer">
          <div class="action-links">
            <button type="button" class="btn-white" data-dismiss="modal">Retour</button>
          </div>
          <div class="loader-container hidden"></div>
        </div>
      </div>

    </div>
  </div>
</div>
