<%= render 'shared/navbar' %>
<div class="page-container">
  <div class="campaigns-container">
    <div class="filter-campaigns-right">
      <div class="categories">
        toto
      </div>
      <div class="campaigns-presentation">
        <%= render @campaigns %>
      </div>
      <%= render "shared/right-encart" %>
    </div>

  </div>
</div>

