<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="product-container">
      <h1>Ajouter un produit</h1>
      <div class="info-bloc">
        <%= render 'new-edit-form' %>
      </div>
    </div>
  </div>
</div>

