
.modal-body {
  h5 {
    color: #495057 !important;
    font-size: 17px !important;
  }
}

.modal-footer {
  .action-links {
    display: flex;
    justify-content: flex-end;
    .btn-orange {
      margin-left: 20px;
    }
  }
}

.pick-price {
  display: flex;
  color: $blue;
  font-size: 19px;
  margin-right: 10px;
  .test-title {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: lightsteelblue;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.clockdiv {
  display: flex;
}


.campaign-link.pending {
  background-color: $blue;
  .dynamic-timer {
    color: #FFF;
    border: 1px dashed #FFF;
  }
}

.status-overview {
  color: #3F3933;
  text-transform: uppercase;
  font-weight: bold;
}

.return-link {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


@media screen and (max-width: 480px) {


  .campaign-link.pending .dynamic-timer {
      margin: 0 5px 0 0;
      height: 30px;
      width: 30px;
      font-size: 13px;
  }
}
