.product-container {
  h1 {
    color: #989898;
    font-size: 25px;
    text-align: left;
  }

  label {
    color: #72777a;
  }
}


.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name-and-cat {
  .product_title, .product_category {
    flex: 0 0 40%;
  }
}

.product_description {
  margin-bottom: 30px;
}

.price-and-cost {
  .product_price, .product_price_ht, .product_expedition_costs {
    flex: 0 0 40%;
  }
}

.website {
  .product_website, .product_size_guide {
    flex: 0 0 40%;
  }
}

.chooseFile, .chooseVideo {
  color: $orange;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 30px;
  span {
    margin-left: 0;
    margin-right: 10px;
  }
}

#product_photos, .video-block {
  display: none
}

.video-block {
  margin-bottom: 40px;
}

.media-preview {
  display: inline-block;
}

#product_video_url {
  width: 40%;
}

#product_facebook, #product_instagram, #product_youtube, #product_twitter {
  width: 40%;
  padding: 6px 12px 6px 35px;
}


